body {
    margin: 0;
    padding: 0;
    font: 16px Arial, sans-serif;
}

.header,
.content {
    width: 960px;
    margin: auto;
}

.header-wrapper {
    background: #0B0B3B;
}

.header {
    line-height: 50px;
}

.header,
.header a {
    color: #fff;
}

.header a {
    text-decoration: none;
}

.logo {
    float: left;
    font-weight: bolder;
    font-size: 25px;
    padding: 0 30px;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu,
.menu li {
    display: inline-block;
}

.menu li {
    padding: 0 20px;
}

a {
    color: #666;
}

h1,
h2,
h3 {
    padding-left: 10px;
}

h1 {
    border-left: 4px solid #A9D0F5;
}

h2 {
    border-left: 2px solid #A9D0F5;
}

h3 {
    border-left: 1px solid #A9D0F5;
}

h5 {
    font-size: 1em;
}

pre {
    font-size: 14px;
}

.nav {
    float: left;
    position: relative;
    left: -30px;
}

.nav a:hover {
    opacity: 1;
}

.nav a {
    opacity: 0.1;
    text-decoration: none;
}

.nav .top,
.nav .anchor {
    display: block;
    width: 20px;
    text-align: center;
}

.nav .top {
    margin-left: 2px;
}

.nav .anchor {
    margin-top: 5px;
}

@media (max-width: 1024px) {
    .header, .content {
        width: auto;
        padding: 0 60px 0 30px;
    }
}

@media (max-width: 768px) {
    .header, .content {
        padding: 0 30px 0 30px;
    }
}
